html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
    letter-spacing: 0.02em;
}
